# Compiles binaries
bin/
*.exe
*.test
*.prof

# Frontend dependencies and builds
frontend/node_modules/
frontend/dist/
frontend/.svelte-kit/
frontend/.next/
frontend/out/

# Chrome runtime environment
.chrome-profile/
.edge-profile/
.task/
.DS_Store

# Temporary screenshots & zip
screenshot.png
screenshot_1280x800.png
domour-chrome-extension.zip

# Logs
*.log
bridge.log
